.certified {
  background: #f4f5f7;
  padding: 80px 20px;
  text-align: center;
}

/* HEADER */

.certified-header {
  max-width: 800px;
  margin: 0 auto 50px;
}

.subtitle {
  font-size: 12px;
  letter-spacing: 2px;
  color: #999;
  display: block;
  margin-bottom: 10px;
}

.certified-header h2 {
  font-size: 34px;
  font-weight: 600;
  color: #1e1e1e;
}

.certified-header .dot {
  color:  #6223cc;
}

.certified-header p {
  margin-top: 15px;
  color: #6b6b6b;
  font-size: 15px;
  line-height: 1.6;
}

/* GRID */

.certified-grid {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

/* CARD */

.cert-card {
  background: white;
  border-radius: 10px;
  padding: 25px;
  display: flex;
  gap: 20px;
  align-items: center;
  text-align: left;
  border: 1px solid #e5e5e5;
  transition: 0.3s;
}

.cert-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

/* IMAGE */

.cert-img img {
  width: 170px;
  height: auto;
}

/* CONTENT */

.cert-content h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #222;
}

.cert-content p {
  font-size: 14px;
  color: #6d6d6d;
  line-height: 1.5;
}

/* RESPONSIVE */

@media (max-width: 900px) {
  .certified-grid {
    grid-template-columns: 1fr;
  }

  .cert-card {
    flex-direction: column;
    text-align: center;
  }
}
