.press-wrapper {
  font-family: "Inter", system-ui, sans-serif;
  color: #111827;
  padding: 60px 100px;
}

/* HERO */
.press-hero {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.section-label {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #6b7280;
}

.press-hero h1 {
  font-size: 42px;
  line-height: 1.2;
  margin: 15px 0;
}

.press-hero h1 span {
  color:  #6223cc;
}

.press-hero p {
  color: #6b7280;
  max-width: 420px;
}

.featured-box {
  border: 1px solid #e5e7eb;
  padding: 24px;
  border-radius: 10px;
  max-width: 300px;
}

.featured-box h4 {
  font-size: 16px;
  margin-bottom: 16px;
}

.featured-box button {
  border: none;
  background: #111827;
  color: white;
  padding: 10px 16px;
  font-size: 13px;
  border-radius: 6px;
  cursor: pointer;
}

/* MAIN */
.press-main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 60px;
  margin-bottom: 80px;
}

.main-left h2 {
  font-size: 28px;
}

.main-left p {
  color: #6b7280;
  margin: 16px 0;
}

.source {
  font-size: 13px;
  font-weight: 600;
}

.feature-image img {
  margin-top: 30px;
  width: 100%;
  border-radius: 12px;
}

/* SIDEBAR */
.main-right h3 {
  margin-bottom: 20px;
}

.press-list {
  list-style: none;
  padding: 0;
}

.press-list li {
  display: flex;
  gap: 14px;
  margin-bottom: 18px;
}

.press-list img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
}

.press-list span {
  font-size: 12px;
  font-weight: 700;
  color: #2563eb;
}

.press-list p {
  font-size: 14px;
  margin: 4px 0 0;
}

/* GRID */
.press-grid {
  margin-top: 40px;
}

.grid-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.grid-header a {
  font-size: 14px;
  text-decoration: none;
  color: #2563eb;
  font-weight: 600;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 12px;
}

.card h4 {
  font-size: 16px;
  margin-bottom: 6px;
}

.card span {
  font-size: 13px;
  color: #6b7280;
}
